In [ ]:
what is pandas ?
pandas library with structured data (tabular,labled).built on top of numpy
# seies is a 1 row data
## dataframe is many rows,colums data

In [12]:
import pandas as pd
## creating a series from the list
marks = pd.Series([123,20,100,50,98])
print(marks)

0    123
1     20
2    100
3     50
4     98
dtype: int64

In [11]:
## adding custom index
marks = pd.Series([123,20,100,50,98],
index = ['a','b','c','d','e'])

In [12]:
print(marks)

a    123
b     20
c    100
d     50
e     98
dtype: int64

In [17]:
## accessing element
print("\nmarks of d:",marks['d'])

marks of d: 50

In [19]:
print(marks['d'])

50

In [26]:
print(marks[marks==100].index[0])

c

In [36]:
## usefull methods
print(marks.max())
print(marks.min())
print(marks.median())
print(marks.mean())
print(marks.mode())

123
20
98.0
78.2
0     20
1     50
2     98
3    100
4    123
dtype: int64

In [37]:
print(marks.describe())

count      5.000000
mean      78.200000
std       42.002381
min       20.000000
25%       50.000000
50%       98.000000
75%      100.000000
max      123.000000
dtype: float64

In [44]:
## data frame = 2d data
##from dictionary

data = {
    'name':['a','b','c','d','e'],
    'age':[20,30,40,50,60],
    'gender':['male','female','male','male','female']
}

In [45]:
print(data)

{'name': ['a', 'b', 'c', 'd', 'e'], 'age': [20, 30, 40, 50, 60], 'gender': ['male', 'female', 'male', 'male', 'female']}

In [52]:
import pandas as pd
df= pd.DataFrame(data)

In [53]:
print(df)

  name  age  gender
0    a   20    male
1    b   30  female
2    c   40    male
3    d   50    male
4    e   60  female

In [57]:
print(df['age'].value_counts())

age
20    1
30    1
40    1
50    1
60    1
Name: count, dtype: int64

In [59]:
## access a single coliumn
print(df['age'])

0    20
1    30
2    40
3    50
4    60
Name: age, dtype: int64

In [62]:
## access a multiple coliumn
print(df[['name','age']])

  name  age
0    a   20
1    b   30
2    c   40
3    d   50
4    e   60

In [1]:
import pandas as pd
data = pd.read_csv("Employee_Attrition ,csv.csv")

In [3]:
## first 5 rows
print(data.head())

   employee_id   Age     BusinessTravel  DailyRate              Department  \
0         1453  41.0      Travel_Rarely     1102.0                   Sales
1         1454  49.0  Travel_Frequently      279.0  Research & Development
2         1455  37.0      Travel_Rarely     1373.0  Research & Development
3         1456  33.0  Travel_Frequently     1392.0                     NaN
4         1457  27.0      Travel_Rarely      591.0  Research & Development

   DistanceFromHome       Education EducationField EnvironmentSatisfaction  \
0               1.0        2College  Life Sciences                 2Medium
1               8.0  1Below College  Life Sciences                   3High
2               2.0        2College          Other               4Ver High
3               3.0         4Master  Life Sciences               4Ver High
4               2.0  1Below College        Medical                    1Low

   Gender  ...  MonthlyIncome MonthlyRate  NumCompaniesWorked OverTime  \
0  Female  ...         5993.0     19479.0                 8.0      Yes
1    Male  ...         5130.0     24907.0                 1.0       No
2    Male  ...         2090.0      2396.0                 6.0      Yes
3  Female  ...         2909.0     23159.0                 1.0      Yes
4    Male  ...         3468.0     16632.0                 9.0       No

  PercentSalaryHike PerformanceRating  RelationshipSatisfaction  \
0              11.0        3Excellent                      1Low
1              23.0      4Outstanding                4Very High
2              15.0        3Excellent                   2Medium
3              11.0        3Excellent                     3High
4              12.0        3Excellent                4Very High

   TrainingTimesLastYear  WorkLifeBalance Attrition
0                    0.0             1Bad       Yes
1                    3.0          3Better        No
2                    3.0          3Better       Yes
3                    3.0          3Better        No
4                    3.0          3Better        No

[5 rows x 26 columns]

In [5]:
##showing total rows and columns
print(data.shape)

(1470, 26)

In [6]:
#showing all columns name
print(data.columns)

Index(['employee_id', 'Age', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'Attrition'],
      dtype='object')

In [20]:
                                                   #ASSINGMENT
#1
## creating series using list
movies = pd.Series(['suriya','vijay','dhanush','kamal','kartick'],
## adding custom index 
['actor1','actor2','actor3','actor4','actor5'])

print(movies)

actor1     suriya
actor2      vijay
actor3    dhanush
actor4      kamal
actor5    kartick
dtype: object

In [21]:
#2
data = {
    'name':['suriya','vijay','dhanush','kamal','kartick'],
    'department':['sales','hr','sales','hr','sales'],
    'salary':[20000,30000,40000,50000,60000]
}

In [23]:
#3 
import pandas as pd
info = pd.DataFrame(data)

In [24]:
print(info['salary'])

0    20000
1    30000
2    40000
3    50000
4    60000
Name: salary, dtype: int64

In [25]:
import pandas as pd
data = pd.read_csv("Employee_Attrition ,csv.csv")

In [26]:
print(data.head(10))

   employee_id   Age     BusinessTravel  DailyRate              Department  \
0         1453  41.0      Travel_Rarely     1102.0                   Sales
1         1454  49.0  Travel_Frequently      279.0  Research & Development
2         1455  37.0      Travel_Rarely     1373.0  Research & Development
3         1456  33.0  Travel_Frequently     1392.0                     NaN
4         1457  27.0      Travel_Rarely      591.0  Research & Development
5         1458  32.0  Travel_Frequently     1005.0  Research & Development
6         1459  59.0      Travel_Rarely     1324.0  Research & Development
7         1460  30.0      Travel_Rarely     1358.0  Research & Development
8         1461  38.0  Travel_Frequently      216.0  Research & Development
9         1462  36.0      Travel_Rarely     1299.0  Research & Development

   DistanceFromHome       Education EducationField EnvironmentSatisfaction  \
0               1.0        2College  Life Sciences                 2Medium
1               8.0  1Below College  Life Sciences                   3High
2               2.0        2College          Other               4Ver High
3               3.0         4Master  Life Sciences               4Ver High
4               2.0  1Below College        Medical                    1Low
5               2.0        2College  Life Sciences               4Ver High
6               3.0       3Bachelor        Medical                   3High
7              24.0  1Below College  Life Sciences               4Ver High
8              23.0       3Bachelor            NaN               4Ver High
9              27.0       3Bachelor        Medical                   3High

   Gender  ...  MonthlyIncome MonthlyRate  NumCompaniesWorked OverTime  \
0  Female  ...         5993.0     19479.0                 8.0      Yes
1    Male  ...         5130.0     24907.0                 1.0       No
2    Male  ...         2090.0      2396.0                 6.0      Yes
3  Female  ...         2909.0     23159.0                 1.0      Yes
4    Male  ...         3468.0     16632.0                 9.0       No
5    Male  ...         3068.0     11864.0                 0.0       No
6  Female  ...         2670.0      9964.0                 4.0      Yes
7       M  ...         2693.0     13335.0                 1.0       No
8    Male  ...         9526.0      8787.0                 0.0       No
9    Male  ...         5237.0     16577.0                 6.0       No

  PercentSalaryHike PerformanceRating  RelationshipSatisfaction  \
0              11.0        3Excellent                      1Low
1              23.0      4Outstanding                4Very High
2              15.0        3Excellent                   2Medium
3              11.0        3Excellent                     3High
4              12.0        3Excellent                4Very High
5              13.0        3Excellent                     3High
6              20.0      4Outstanding                      1Low
7              22.0      4Outstanding                   2Medium
8              21.0      4Outstanding                   2Medium
9              13.0        3Excellent                   2Medium

   TrainingTimesLastYear  WorkLifeBalance Attrition
0                    0.0             1Bad       Yes
1                    3.0          3Better        No
2                    3.0          3Better       Yes
3                    3.0          3Better        No
4                    3.0          3Better        No
5                    2.0            2Good        No
6                    3.0            2Good        No
7                    2.0          3Better        No
8                    2.0          3Better        No
9                    3.0              NaN        No

[10 rows x 26 columns]