In [ ]:
                                                     ## MINI PROJECT

In [14]:
import pandas as pd
data= pd.read_csv("tested.csv")

In [15]:
## 1. no of passengers
print(data['PassengerId'].count())

418

In [16]:
## total no of columns
print(data.shape[1])

12

In [17]:
## avg age of passenger
print(data['Age'].mean())

30.272590361445783

In [18]:
## max of fare
print(data['Fare'].max())

512.3292

In [19]:
print(data.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [20]:
## most noof missing value columns
print (data['Cabin'].isna().sum())

327